<div class="form-group">
    <label for="Title">Title</label>
    <input required type="text" name="title" id="title" class="form-control">  
</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea required name="description" class="form-control" id="description"></textarea>
</div>

<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" class="form-control" id="markdown"></textarea>
</div>


<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary" >Submit</button>